---
layout: default
---

<article>

	<h1 class="title">{{ page.title }}</h1>

	<div class="divider"></div>

	{{ content }}

</article>
	<!--PC版-->
<div id="SOHUCS" ></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cysFiNeuu',
conf: 'prod_ba63fe37a5cec21ddb192ae655ad1834'
});
</script>
<div class="page-navigation">
	<a class="home" href="{{site.baseurl}}/" title="Back to Homepage">Home</a>

</div>

